
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<!--Copyright reversed by SS.SYSU-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Buy Your Way to a Better Education!</title>
		<link rel="stylesheet" href="{{ static_url("css/buyagrade.css") }}" />
	</head>

	<body>
		<h1>Buy Your Way to a Better Education!</h1>

		<p>
			The rough economy, along with recent changes in University of Washington policy, now allow us to offer grades for money.  That's right!  All you need to get a 4.0 in this course is cold, hard, cash.
		</p>

		<hr />

		<h2>Give us your money</h2>

		<form action="/sucker" method="post">
			<label for="name">Name</label>
			<br />
			<input type="text" name="name" id="name" class="inputBox"/>
			<br />
			<label for="section">Section</label>
			<br />
			<select name="section" class="inputBox">
				<option value="(Select a section)">(Select a section)</option>
				<option value ="MA">MA</option>
				<option value ="MH">MH</option>
			</select>
			<br />
			<label for="card">Credit Card</label>
			<br />
			<input type="text" name="card" id="card" class="inputBox"/>
			<br />
			<input type="radio" name="card-type" value="Visa" class="card" />Visa
			<input type="radio" name="card-type" value="MasterCard" /> MasterCard
			<br />
			<button type="submit">I am a giant sucker.</button>
		</form>
	</body>
</html>
