<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Buy Your Way to a Better Education!</title>
		<link rel="stylesheet" href="{{ static_url("css/buyagrade.css") }}" />
	</head>

	<body>
		<h1>Thanks, sucker!</h1>

		<p>Your information has been recorded.</p>

		<dl>
			<dt>Name</dt>
			<dd>{{ infoMessage.name }}</dd>

			<dt>Section</dt>
			<dd>{{ infoMessage.section }}</dd>

			<dt>Credit Card</dt>
			<dd>{{ infoMessage.card }}({{ infoMessage.cardType }})</dd>
		</dl>

		<p>Here are all the suckers who have submited here</p>
		{% for line in allLines %}
			<pre>{{line}}</pre>
		{% end %}
		</pre>
	</body>
</html>  