<!DOCTYPE html>
<html>
	<!-- CSE 190 M Homework 4 (NerdLuv) -->
	<head>
		<title>NerdLuv</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link href="heart.gif" type="image/gif" rel="shortcut icon" />
		<link href=" {{static_url('css/nerdluv.css')}}" type="text/css" rel="stylesheet" />
	</head>

	<body>
		<div id="main">
			<div id="bannerarea">
				<img src="{{static_url('images/nerdluv.png')}}" alt="banner logo" /> <br />
				where meek geeks meet
			</div>

			<form action="">			
				New User Signup:

				<div>
					<strong>Name:</strong>
					<input type="text" name="name" id="name" maxlength="16">
				</div>

				<div>
					<strong>Gender:</strong>
						<option value="Male">Male</option>
												<option value="Male">Male</option>
						

				</div>

				<div>
					<strong>Age:</strong>
					???
				</div>

				<div>
					<strong>Personality type:</strong>
					???
					(<a href="http://www.humanmetrics.com/cgi-win/JTypes2.asp">Don't know your type?</a>)
				</div>

				<div>
					<strong>Favorite OS:</strong>
						Windows
						Mac OS X
						Linux
						other
				</div>


				<div id="seeking">
					<strong>Seeking:</strong>
					Male
					Female
				</div>

				<div>
					<strong>Between ages:</strong>
					??? and
					???
				</div>

				<div>
					Sign Up
				</div>
			</form>	
		</div>
		
		<p>
			Results and page (C) Copyright 2009 NerdLuv Inc.
		</p>

		<div id="w3c">
			<a href="http://validator.w3.org/check/referer">
				<img src="http://www.w3.org/Icons/valid-xhtml11" alt="Valid XHTML 1.1" /></a>
			<a href="http://jigsaw.w3.org/css-validator/check/referer">
				<img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS" /></a>
		</div>
	</body>
</html>

	